html, body {
	height: 100%;
}

body {
	background-color: #fef4b4;
	color: #000;
	font-family: Helvetica;
	font-size: 100%;
	line-height: 1.5em;
	margin: 0;
}

#header {
	height: 82px;
	background-image: url('images/header.png');
}

#header h1 {
	margin: 0;
	color: white;
	content: url('images/logo.png'), contents;
}

#sidebar {
	float: left;
	background-color: white;
	width: 200px;
	min-height: 100%;
}

#artist_image {
	margin-top: 20px;
	margin-left: 10px;
	}
	
a:link {
	color: #000000;
	}
#artist_bio_long em {
display: block;
margin-top: 1em;
margin-bottom: 0.5em;
}

div#wrapper {
	overflow: hidden;
	padding: 5px 0;
	width: 400px;
	height:400px;
	float:right;
}

div#testElement {
	z-index: 5;
	position: relative;
	text-align: center;
	width: 1200px;
}

div.item {
	float: left;
	margin-right: 10px;
	}