html, body {
	height: 100%;
}

body {
	background-color: #fef4b4;
	color: #000;
	font-family: Helvetica;
	font-size: 100%;
	line-height: 1.5em;
	margin: 0;
}

#header {
	height: 82px;
	background-image: url('images/header.png');
	position: relative;
}

#header #logo {
	margin: 0;
	color: white;
	content: url('images/logo.png'), contents;
}

#header #mic {
	position: absolute;
	content: url('images/mic.png'), contents;
	top: 0;
	left: 150px;
	z-index: 6000;
}

#header #now_container {
	position: absolute;
	top: 43px;
	left: 350px;
	color: white;
	font-style: italic;
	width: 50%;
	margin-right: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#sidebar {
	float: left;
	background-color: white;
	width: 280px;
	min-height: 100%;
	-webkit-box-shadow: 1px 0 5px rgba(0, 0, 0, 0.3);
}

#search {
	background-image: url('images/search.png');
	height: 43px;
}

#search input {
	border: 0;
	width: 180px;
	font-size: 11pt;
	height: 24px;
	margin-top: 10px;
	margin-left: 28px;
}


ul {
	font-size: 20px;
	font-family: Helvetica;
	font-weight: bold;
	color: black;
	margin: 0;
	padding: 0;
	width: 280px;
	background-color: white;
}


li {
	list-style-type: none;
	border-top-width: 1px;
	border-top-color: rgb(217,217,217);
	border-top-style: solid;
	padding-top: 13px;
	padding-right: 10px;
	padding-bottom: 14px;
	padding-left: 10px;
	height: 19px;
	line-height: 19px;
}


li:first-child {
	border-top: 0;
}

.playing {
	float: right;
	margin-right: 50px;
	margin-top: 2px;
	content: url('images/playing.png'), contents;
}

#content {
	position: relative;
}

#title {
	background-color: rgba(255, 255, 255, 0.85);
	background-image: url('images/shadow.png');
	background-repeat: repeat-y;
	margin-left: 280px;
	height: 60px;
	padding: 10px 0 5px 70px;
	border-bottom: 1px solid #dddddd;
	position: relative;
	top: -82px;
	line-height: 1.8em;
}

#artist_name {
	font-weight: normal;
	font-size: 26px;
	letter-spacing: -0.5px;
	margin: 0;
}

#song_name {
	font-weight: normal;
	font-size: 19px;
	letter-spacing: -0.5px;
	margin: 0;
}

#image {
	text-align: right;
	padding: 60px 30px 0 0;
}

#image img {
	z-index: 0;
}

#bio {
	font-size: 14px;
	line-height: 1.4em;
	margin-top: -60px;
	margin-left: 350px;
	padding-right: 40px;
}

#bio div {
	margin-bottom: 1em;
}

