
/* 1024 x 768*/
div#screensaver
{
    background-image: -webkit-gradient(radial, 300 90, 0, 300 90, 460, from(#222), to(#222), color-stop(0%, rgba(255, 255, 255, 0.1)))
}

div.box
{
  z-index: 1;
  background: rgba(255, 255, 255, 0.7);
}
div.box h1, div.box h2
{
  padding: 0px 10px;
} 
div#radioname
{
  position: absolute;
  top: 100px;
  left: 0px;
  width: 60%;
}
/*
div#radioname p
{
  line-height: 0;
  padding: 0px 10px;
  color: #000;
}
*/
div#songinfo
{
    position: absolute;
    bottom: 150px;
    right: 0px;
    width: 80%;
}
/*
div#songinfo p
{
  margin: 0px;
}
div#songinfo p#artist
{
  padding: 20px 10px 0px 10px;
  color: #000;
}

div#songinfo p#song
{
  padding: 0px 10px 20px 10px;
  color: #000;
}
*/
div.image
{
  z-index: 0;
  position: absolute;
}
div#imgContainer
{
  width: 100%;
  height: 100%;
}
div#image1
{
  top:100px; left:20px;
}
div#image2
{
  top:30px; left:650px;
}
div#image3
{
  top:500px; left:40px;
}
div#image4
{
  top:450px; left:500px;
}
div#image5
{
  top:750px; left:200px;
}
div#image6
{
  top:800px; left:630px;
}
#imgContainer > div 
{
    z-index: 0;
    position: absolute;
}

#imgContainer > div > img {
     position: absolute;
}

@-webkit-keyframes fade
{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}